html, body {
  height: 100%;
}

body {
        padding-top: 50px;
}

.col-md-2 {
        margin: 0px;
        padding: 0px;
}

.col-md-10 {
        margin: 0px;
        padding: 0px;
}

.col-md-2 {
        margin-top: 50px;
}

#frame {
        margin: 50px 0px 50px 0px;
        height: 620px;
}

.row {
        margin: 0px 50px 0px 50px;
}
